@font-face {
  font-family: "Neue Haas Unica";
  src: url("/fonts/NeueHaasUnica/NeueHaasUnica-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff") format("woff");
  font-weight: 400;
}
